*{
    margin: 0;
    padding: 0;
}
#primerobjeto{
      width:200px; 
      height:80px; 
      margin-left:auto;
      margin-right:auto;
      border:2px solid transparent;/*transparent*/
}
/*================================================================================*/
/*================================caja-galeriabase================================*/
/*================================================================================*/
#caja-galeriabase{ 
         width:880px;    height:900px;   
      margin-left:auto;      background: #F2F2F2;              margin-right:auto;
}
/*================================================================================*/
#cabesera-titulo{
    background:#FE9A2E;    width:880px;      height:50px;       border-radius:20px 20px 0px 0px;
    border:1px solid #FE9A2E;      margin-left:auto;     margin-right:auto;     display:block;
}
/*================================================================================*/
.cabesera-titulotesto{
     font-family:ubuntu;     font-weight:bold;     width:600px;      margin-left:20px;
     float:left;       font-size:30px;    background:;     margin-top:7px;
}
/*================================================================================*/
.cabesera-presio{
     margin-top:7px;
     font-family:ubuntu;
     font-weight:bold;
     width:150px;
     float:right; 
     margin-right:20px;
     border-radius: 20px;
     text-align:center;
     font-size:30px;
     background:yellow;
}

/*==============================caja-izquierda====================================*/
#caja-izquierda{ 
      margin-left:60px;
      border-radius: 0px;
      float: left;
      width:734px; 
      height:446px; 
      border:1px solid red;/*transparent*/
}

/*==============aqui galeria foto===============*/
#imagen-big{
      margin-top:2px;    float: right;    width:632px;    height:440px;    
      overflow:hidden;    border:2px solid black;       border-radius: 10px;
}
.img-big{
      height:440px; 
}
.im-small{
      height:54px;
}
#imagen-smallR{
      border-radius: 10px;   margin-left:9px;    margin-top:35px;     float: left;    width:82px;   
      height:54px;   border:2px solid black;   overflow: hidden;
}
#imagen-small{
      border-radius: 10px;   margin-left:9px;    margin-top:10px;    float: left;    width:81px;    
      height:54px;    border:2px solid black;     overflow: hidden;
}

#imagen-small:hover{
      border:2px solid #FE9A2E;
}
#imagen-smallR:hover{
      border:2px solid #FE9A2E;
}
/*============================================fin galeria================================================*/

#cabesera-descripcion{
    float:left; 
    background:#FE9A2E;
    width:880px;
    height:50px;
    border-radius:0px 0px 0px 0px;
    border:1px solid #FE9A2E;
}
.cabesera-description{
font-family:ubuntu;
     font-weight:bold;
     width:600px;
     margin-left:264px;
     float:left;
     font-size:30px;
     background:;
     margin-top:7px;

}
#testo-descripcion{  
     margin-top:20px; 
     background:white;
     border:1px solid #FE9A2E;
     background:white;
     width:800px; 
     margin-left:40px;
     border-radius:10px;
     float:left;
}
.testo-descripcion{  
     color:black;
     font-family:ubuntu;
     font-weight:bold;
     font-size:30px;
     line-height:50px;
}
/*===========================================================================================================*/
/*===========================================================================================================*/
@media (max-width:950px){

#caja-galeriabase{ 
         width:734px;    height:900px;   
    }
#caja-izquierda{ 
      margin-left:0px;  border-radius: 0px;
      float: left;   width:734px; 
}
#cabesera-titulo{
    width:734px;      height:40px;       border-radius:20px 20px 0px 0px;
    
}
/*================================================================================*/

.cabesera-titulotesto{
      width:590px;      margin-left:5px;    margin-top:5px;
      font-size:25px;    background:red;     
}
.cabesera-presio{
     margin-top:5px;   width:120px;    font-size:25px;
     margin-right:10px;
}
}
/*==========================================================================================================*/
@media (max-width:500px){

#cabesera-titulo{
    width:400px;      height:78px;       border-radius:10px 10px 0px 0px;
    background:green;
}
.cabesera-titulotesto{
      width:415px;      margin-left:1px;    margin-top:2px;
      font-size:20px;    background:none;     
}
.cabesera-presio{
     margin-top:0px;
     
     width:120px;
    
     margin-right:150px;
     border-radius: 20px;
     text-align:center;
     font-size:20px;
     background:yellow;
}
#imagen-small{
      display:none;
}
#imagen-smallR{
      display:none;
}
#caja-izquierda{ margin-left:auto;     margin-right:auto;  
     
      border-radius: 0px;
      float: left;
      width:435px; 
      height:446px; 
      border:1px solid red;/*transparent*/
}
#imagen-big{margin-left:1.5px;
      margin-top:0px;    float: left;    width:429px;    height:293px;    
      overflow:hidden;    border:2px solid black;       border-radius: 10px;
}
.img-big{
      height:294px;
}
#caja-galeriabase{ 
        width:435px;   height:900px;   
      margin-left:auto;      background: #F2F2F2;              margin-right:auto;
}






}

